<?xml version="1.0"?>
<launch>

    <include file="$(find scout_bringup)/launch/open_rslidar.launch" />

    <!-- 启动相机>-->
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch" />

    <!-- map==odom -->
    <!-- <include file="$(find scout_bringup)/launch/navigation_4wd.launch" /> -->

    <!-- gmapping 维护 map2odom -->
    <include file="$(find scout_bringup)/launch/blind_navigation.launch" />

    <node pkg="scout_bringup" type="send_goal.py" name="auto_goal_sender" output="screen">
    </node>

    <!-- 启动小车接收端 -->
    <node pkg="scout_bringup" type="receiver.py" name="data_receiver_node" output="screen">
    </node>

</launch>